<div class="row justify-content-center h-25">
        <div class="card-body">
        <mat-form-field class="">
            <textarea matInput #mensagem placeholder="Informe um comentário legal" [ngModel]="comentario" matTextareaAutosize matAutosizeMinRows="3"
            matAutosizeMaxRows="3" maxlength="256"></textarea>
            <mat-hint align="start"><strong>Não informe dados pessoais</strong></mat-hint>
            <mat-hint align="end">{{mensagem.value.length}} / 256</mat-hint>
            
            <mat-icon matSuffix #btn (click)="mensagem.value.trim().length > 0 ?  onClickNewPost(mensagem.value) : mostrarMsg()" style="cursor:pointer;" >send</mat-icon>
            <!-- <mat-icon matSuffix >{{(1!=1) ? 'visibility' : 'visibility_off'}}</mat-icon> -->
            </mat-form-field>
        </div>
</div>
<div class="row border-top border-secondary bg-light justify-content-center h-75 scrollbar">
        <div class="card-body">
        <div *ngFor="let post of listPost | sort: 'data'" >           
            <app-card [cartao]="post" [escondeCard]="false" [escondeHashTag]="true"></app-card>  
            </div>
</div>
</div>

  
  
