<mat-card>
  <div *ngIf="!escondeCard">
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + cartao.urlPhoto + ')','background-size': 'cover'}"></div>
    <mat-card-title>{{cartao.title}}</mat-card-title>
     <div class="text-left">
      <mat-card-subtitle style="    word-wrap: break-word;
      width: 100%;"><i style="vertical-align:text-bottom; font-weight:bold;" class="material-icons"></i>{{cartao.hashtag | lowercase}}</mat-card-subtitle>
    </div> 
     <mat-card-subtitle>{{cartao.subtitle}}</mat-card-subtitle>
     
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
   <mat-card-content>
    <p style="word-wrap: break-word;">
      {{cartao.comment}}
    </p>
  </mat-card-content> 
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</div>
  <div *ngIf="!escondeHashTag">
      <mat-card-header>
  <mat-card-title>
      
      <mat-card-subtitle style="    word-wrap: break-word;
      width: 100%;">{{totalHashTag}} <i style="vertical-align:text-bottom; font-weight:bold;" class="material-icons"></i>{{cartao.hashtag | lowercase}}</mat-card-subtitle>
    </mat-card-title>
      </mat-card-header>
  </div>
  

</mat-card>