<mat-card>
    <div *ngIf="!escondeCard">
       <mat-card-subtitle style="font-size: 10px;">{{cartao.data | date:'dd/MM/yyyy, hh:mm:ss a'}}</mat-card-subtitle>
       <mat-card-header>
          <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + cartao.urlPhoto + ')','background-size': 'cover'}"></div>
          <mat-card-title>{{cartao.title}}</mat-card-title>
          <div class="text-left">
             <mat-card-subtitle ><i style="vertical-align:text-bottom; font-weight:bold;" class="material-icons"></i>{{cartao.hashtag | lowercase}}</mat-card-subtitle>
          </div>
          <mat-card-subtitle>{{cartao.subtitle}}</mat-card-subtitle>
       </mat-card-header>
       <mat-card-content>
          <p>
             {{cartao.comment}}
          </p>
       </mat-card-content>
    </div>
    <div *ngIf="!escondeHashTag">
       <mat-card-header>
          <mat-card-title>
             <mat-card-subtitle>{{totalHashTag}} <i style="vertical-align:text-bottom; font-weight:bold;" class="material-icons"></i>{{cartao.hashtag | lowercase}}</mat-card-subtitle>
          </mat-card-title>
       </mat-card-header>
    </div>
 </mat-card>