<div id="wrap">
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    
        <a class="navbar-brand" href="#">A Comunidade</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
          
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    
      
        <div class="container container-top">
        
          <div class="row vdivide">
            <div class="col-md-4 "></div>
            <div class="col-md-4"><app-comentario (notify)="onNotifyComment($event)">loading...</app-comentario></div>
            <div class="col-md-4"><div id="textback">
              <div id="backmodel"></div>
          </div>
          <textarea id="textarea">Hey Nicolae, it is just a test!</textarea>
          </div></div>
          </div>
         
        </div> 
        
     
        
      <footer>
          <div class="container">
              <h4 class="text-muted credit">© 2018 Company, Inc.</h4>
            </div>
      </footer>   
   
           
