body,html{
  margin: 0;
  padding: 0;
    height:100%;
    
   }
   body{overflow: hidden;}
   .container{
    min-height:100%;
   }


   /* ::ng-deep .mat-form-field,.mat-input-wrapper{
    width:100% !important;
  } */

  :host /deep/ app-comentario .mat-form-field{
    padding-top: 10px;
    width:100% !important;
  }



  :host /deep/ app-card-post .mat-card-header-text{
    width: 100%;
  }


   .row.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
    border-bottom: #e0e0e0;
   
  }

  .footer{
    height:40px;
    margin-top:-40px;
   }

   :host /deep/ .scrollbar
{

	float: left;
	height: 330px;
	width: 100%;
	background: #F5F5F5;
	overflow-y: scroll;
	
}

:host /deep/ app-comentario .force-overflow
{
	min-height: 450px;
}

:host /deep/ mat-card
{
	border: 1px solid #e0e0e0;
    margin: 10px;
}
:hots /deep/ #style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

:host /deep/ #style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

:host /deep/ #style-3::-webkit-scrollbar-thumb
{
	background-color: #e0e0e0;
}

footer{
  background-color: #e0e0e0;
  padding-top: 15px;
  height: 100%;
}

#textarea {
  background: transparent;
  border: 1px #ddd solid;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 400px;
  height: 120px;
  font: 9pt Consolas;
}

#backmodel {
  position: absolute;
  top: 7px;
  left: 30px;
  background-color: #e0e0e0;
  width: 53px;
  height: 9pt;
  cursor: pointer;
  z-index: 99999999999;
  opacity: 0.5;
}

#textback{
 
}