html,body {
    height: 100%;
    overflow: auto;
}
body {
    padding-top: 4.5rem;
}
$cor-scroolbar: red;
%scrollbar-deep-purple-track::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}
%scrollbar-deep-purple::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
%scrollbar-deep-purple-thumb::-webkit-scrollbar-thumb {
    background-color: $cor-scroolbar;
}
%thin::-webkit-scrollbar {
    width: 6px;
}
%scroolbar-col {
    position: relative;
    overflow-y: scroll;
}
.scrollbar{
    @extend %scrollbar-deep-purple-track;
    @extend %scrollbar-deep-purple;
    @extend %scrollbar-deep-purple-thumb;
    @extend %thin;
    @extend %scroolbar-col;
}
app-comentario {
    .mat-form-field{
        padding-top: 10px;
        width:100% !important;
   }
    .force-overflow {
        min-height: 450px;
   }
}
mat-card-header {
    word-break: break-word !important;
}
app-card-post {
    .mat-card-header-text{
        width: 100%;
   }
}
mat-card-content.mat-card-content{
    word-break: break-word;
}
mat-card-subtitle.mat-card-subtitle {
    word-break: break-all;
}
mat-card {
    border: 1px solid #ececec;
    margin: 10px;
}
app-root{
    main{
        padding: 0 30px 20px 30px !important;
   }
}
